@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@200;300;400;500;600;700;800;900&display=swap');


:root {
  --primary-color: #cc4337;
  --secondary-color: #4c6069;
  --tertiary-color: #00f;
}

body {
  overflow-y: scroll;
  height: 100vh;
}

a{
  text-decoration: none;
}

.p {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.3vw;
  letter-spacing: 3px;
  line-height:40px;
  color: white;
  text-align: left;
}

/* Media Queries */
/*
@custom-media --phone (max-width: 768px);
@custom-media --table (min-width: 768px) and (max-width: 1024px);
@custom-media --macbook (min-width: 1024px) and (max-width: 1440px);
@custom-media --desktop (min-width: 1440px);
*/

@media (max-width: 768px) {
  .section-container {
    flex-direction: column;
  }
}

