@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary-color: #cc4337;
  --secondary-color: #343a40;
  --tertiary-color: #00f;
}

