.about{
    background-image: url('../Assets/25846432.jpg');
    background-size: cover;
    background-color: var(--background-shade);
    background-blend-mode: multiply;
    background-attachment: fixed;
    min-height: 100vh;
}