.parallax-container {
    position: relative;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  .concept,
  .technical,
  .interior {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .concept::before,
  .technical::before,
  .interior::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -1;
  }
  
  .concept::before {
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }
  
  .technical::before {
    clip-path: polygon(0 33%, 100% 33%, 100% 66%, 0 66%);
  }
  
  .interior::before {
    clip-path: polygon(0 66%, 100% 66%, 100% 100%, 0 100%);
  }
  
  h1 {
    position: relative;
    z-index: 1;
  }

  .section-content{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    padding: 0 2rem;
    margin-right:10%;
    margin-left:10%;
    background-color: rgba(76, 96, 105, 0.8);
  }
  .section-content.odd{
    margin-right:10%;
    margin-left:10%;
  }

  
  .section-text{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 1.5rem;
    color: white;
    text-align: left;
  }
  .section-title{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 3rem;
    color: var(--secondary-color);
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;
  }

  