.footer-container {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    z-index: 1;
    background-color: rgba(76, 96, 105, 1);
}

.footer-text{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 300;
    font-size: clamp(1rem, 2vw, 1.1rem);
    letter-spacing: 2px;
    color: white;
    
}

@media (max-width: 768px) {
    .footer-text{
        letter-spacing: 0px;
    }
}

p.footer-text {
    margin:0px; 
    margin-left:clamp(0.1rem, 2vw, 2rem);
}
