.header-container{
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%; 
    padding-right:5%;
    color:var(--primary-color);
    background-color: rgba(76, 96, 105, 1);
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
    height:75px;
    top:0;
}


.header-container h1 {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 100;
  font-size: clamp(2rem, 3vw, 3rem);
  letter-spacing: 1vw; /* Adjust the value as needed */
  color: white;
  padding: 0;
  margin: 0;
}

.header-container h3 {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 100;
  font-size: 2.5vw; /* Adjust the value as needed */
  font-size: clamp(1.2rem, 2.5vw, 2rem);

  letter-spacing: 0vw; /* Adjust the value as needed */
  color: white;
  padding: 0;
  margin: 0;
}

.header-container h4 {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 100;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  letter-spacing: 0vw; /* Adjust the value as needed */
  color: white;
  padding: 0;
  margin: 0;
}


.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 2px;
    color: whitesmoke;
}

a {
    text-decoration: none;
    color: whitesmoke;
    padding: 10px;
    
}

a:hover {
  text-decoration: underline;
}

.title a:hover{
  text-decoration: none;

}



.design-section,
.construction-section,
.about-section,
.studies-section {
    position: relative;
    display: inline-block;
  }


.scroll-links {
  display: none;
  position: absolute;
  top: 80%;
  left: -30%;
  background-color: rgb(76, 96, 105);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.scroll-links .scroll-trigger {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  color: white;
}

.scroll-links .scroll-trigger:hover {
  background-color: #9d9d9d;
  
}



.studies-section:hover .scroll-links {
  display: block;
}

.design-section:hover .scroll-links {
  display: block;
}

.construction-section:hover .scroll-links {
  display: block;
}

.about-section:hover .scroll-links {
  display: block;
}

.scroll-links .active{
  background-color: #9d9d9d;
  text-decoration: underline;
}

.active{
  text-decoration: underline;

}


.title img{
  width: 100px;
  height: 100px;
}

/* Sidebar */
/* The side navigation menu */
.sidenav {
  display:none;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgba(2, 2, 2, 1);
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a{
  text-decoration: none;
  transition: 0.3s;
}
.sidenav h3 {
  display: block;
  padding: 8px 8px 8px 32px;
  font-weight: 100;
  font-size: clamp(2rem, 2.5vw, 2rem);
  letter-spacing: 1vw; /* Adjust the value as needed */
  color: white;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the hamburger icon */
#hamburger-icon {
  color: #000;
  display:none;
}

@media screen and (max-width: 768px) {
  .nav {
      display: none;
  }

  #hamburger-icon{
      display: block;
  }

  .sidenav{
    display:flex;
    flex-direction: column;
  }
}
