.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 150px;
    padding-top:0px;
    padding-bottom:0px;
    background-color: var(--secondary-color);
    color:var(--primary-color);
    background-color: rgba(76, 96, 105, 0.8);
}

.header-container h1{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 100;
    font-size: 60px;
    letter-spacing: 30px;
    color: white;
    padding:0px;
    margin:0px;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 2px;
    color: whitesmoke;
}

a {
    text-decoration: none;
    color: whitesmoke;
    padding: 10px;
}