.home-container {
  display: flex;
  flex-direction: column;
  background-image: url('../Assets/25846432.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  height: 100vh;
  justify-content: flex-start;
}

.promo-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Sofia Sans', sans-serif;
  font-weight: 300;
  width: 30%;
  min-height: 5%;
  max-height: fit-content;
  font-size: clamp(1.4rem, 2.5vw, 1.6rem);
  line-height: 35px;
  color: white;
  text-align: left;
  background-color: var(--primary-color);
  padding: 3rem;
  margin: 1rem;
  align-items: center;
  border-radius: 20px;
}

.promo-text p {
  padding: 0px;
}

@media (max-width: 768px) {
  .promo-text {
    width: 90%;
    margin: 0px;
    margin-top: 1rem;
    padding: 1rem;
    margin: 1rem;
  }
}

.bottom-text-container {
  max-width: 80%;
  margin:auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;

}

@media (max-width: 768px) {
  .bottom-text-container {
    flex-direction: column;
    align-items: center;
    max-width: 95%;
  }
}

.hr-line {
  border: none;
  border-top: 1px solid white; /* Make the line white */
  color: white;
  background-color: white;
  height: 1px;
  width: 50%; /* Set the length to 50% of its parent element */
}